 .header-bottom .wrap .megamenu>li>a  {
    position: relative;
    /* list-style: none;  */
    
    display: inline-block;
   text-decoration: none;
  
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
    overflow: hidden;

}
.header-bottom .wrap .megamenu>li>a:hover{
    transform: translateY(-20px);
}
.header-bottom .wrap .megamenu>li>a::before{
    content: '';
    position: absolute;
    width: 50px;
    height: 100%;
    top :0;
    left: 0;

    /* backdrop-filter: blur(5px);
    border-top: 1px solid rgba(255, 255, 255, 0.5); */
    background: rgba(255, 255, 255, 0.5);
    transform: skewX(45deg) translateX(150px);
    transition: 0.5s;
}
.header-bottom .wrap .megamenu>li>a:hover::before{
   
    transform: skewX(45deg) translateX(-150px);
   
}
section{
    position: absolute;
    width: 100%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom,#d6ff4f,#dff1ff);
}
section::before{
    content: '';
    position: absolute;
    width: 100vh;
    height: 0;
    z-index: 1;
    backdrop-filter: blur(5px);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}
section .color{
    position: absolute;
    filter: blur(150px) ;

}
section .color:nth-child(1){
    background: #6bff3533;
    width: 600px;
    height: 600px;
    top: -350px;
}
section .color:nth-child(2){
    background: #00d2ff;
    width: 500px;
    height: 500px;
    bottom: -150px;
    left: 100px;
}
section .color:nth-child(3){
    background: #fffd87;
    width: 300px;
    height: 300px;
    bottom: 50px;
    right: 0;
} 

/* silde */
/* .img-slider .wrap ul li a:hover {
    
     transform: rotateZ(30deg); 
    transition: 5s;
    
} */
.app-logo {
    animation: app-logo-spin infinite 7s linear;
    overflow: unset;
  }

  @keyframes app-logo-spin {
    from {
      transform: rotateZ(26deg)
    }
    to {
      transform: rotateZ(0deg)
    }
    
  }
.img-slider .wrap{
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  background: rgba(9, 2, 143, 0.292);
  border-radius: 5px;
}
/* menu bar */
.megapanel  .row .col1 .h_nav ul li a{
    font-size: 14px;
    font-weight: bold;
}
.megapanel  .row .col1 .h_nav h4{
    font-size: 16px;
    font-weight: bold;
}
.product-grid{
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    background: rgba(9, 2, 143, 0.292);
    border-radius: 5px;
    transition: 0.5s;

}
.product-grid:hover{
    transform: translateY(-20px);
   
}
.product-grid::before{
    content: '';
    position: absolute;
    width: 300px;
    height: 100%;
    top :0;
    left: 0;

    /* backdrop-filter: blur(5px);
    border-top: 1px solid rgba(255, 255, 255, 0.5); */
    background: rgba(255, 255, 255, 0.5);
    transform: skewX(45deg) translateX(350px);
    transition: 0.5s;
}
.product-grid:hover::before{
   
    transform: skewX(45deg) translateX(-350px);
   
}
.product-grid .product-pic a img:hover{
    transform: rotateZ(30deg);
    transition: 1s;
  
}